/*Mindula-Dilthushan*/
/*Royal-Institute-Project*/



/* Start login form*/
.login_main{
    -fx-background-color: #ced6e0;
    -fx-background-radius: 50 50 50 50;
}
.login_left_pane{
    -fx-background-color: #dfe4ea;
    -fx-background-radius: 0 100 100 0;
}
.login_btn{
    -fx-background-color: #1e90ff;
    -fx-background-radius: 100;
}
/* End login form*/